body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

p {
	margin-left: 10%;
}

#title-char {
	background-color: black;
	color: rgb(223, 223, 50);
}

#film-title {
	border-bottom: 2px solid black;
}

#title-people {
	border-bottom: 2px solid black;
}

#btn-films {
	background-color: black;
	color: rgb(223, 223, 50);
}

#btn-people {
	background-color: black;
	color: rgb(223, 223, 50);
}

.text-yellow {
	color: rgb(223, 223, 50);
}

#home-img {
	width: 500px;
	height: 100vh;
}

.page {
	color: white;
}